<div class="fondo">
    <main>
        <section id="formulario-alumno">
            <div class="container" id="contenedor-formulario-flex">
                <h3>&bull; Registro RFID &bull;</h3>
                <div class="underline" id="chat-mensajes"></div>                                                  
                        <div class="list-group-item" *ngFor="let msg of rfidsArray">
                            <form (ngSubmit)="createRfid(msg)" role="form" enctype="multipart/form-data">>                                
                                <input type="text" name="rfid" [(ngModel)]="msg"> 
                                <button routerLink="/createRfid" type="submit">Crear</button>                            
                            </form>                            
                        </div>                                   
                        <button routerLink="/rfids"> Cancelar</button>
                </div>
        </section>
    </main>
</div>